# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Koto Client
Exec=electrum %u
GenericName[en_US]=Koto Wallet
GenericName=Koto Wallet
Icon=electrum
Name[en_US]=Electrum Koto Wallet
Name=Electrum Koto Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/koto;

